<div *ngIf="cargando" class="row align-items-center" style="height: 100vh;">
    <div class="col text-center">
        <i class="fas fa-spinner fa-spin fa-5x" style="color: #717579;"></i>
    </div>
</div>
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" *ngIf="webp === true">Final de la Partida {{numero}}</h4>
        <h4 class="modal-title" *ngIf="gif === true">Vista rápida de la Partida {{numero}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <img *ngIf="webp === true" [src]="srcImgPop" alt="Final de la partida {{numero}}" class="img-fluid" style="width: 100%;">
        <img *ngIf="gif === true" [src]="srcGIF" alt="GIF de la partida {{numero}}" class="img-fluid" style="width: 100%;">
    </div>
</ng-template>

<div class="container-fluid">
    <h4 class="text-center display-4 my-5">Partidas</h4>

    <mat-form-field class="full-width">
        <mat-label>Buscar partida</mat-label>
        <input matInput placeholder="Por ejemplo: kasparov" (keyup.enter)="buscarPartida(buscarTexto.value)" type="text" #buscarTexto [(ngModel)]="terminoDeBusqueda" autocomplete="off">
    </mat-form-field>

    <ngb-alert *ngIf="info" type="danger" (close)="info = false" class="text-center animated fadeIn">{{ infoMessage }}</ngb-alert>

    <div class="table-responsive mb-5">
        <table class="table table-bordered table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
            <thead>
                <tr>
                    <th>ID</th>
                    <th class="text-right">Blancas</th>
                    <th class="text-center">Resultado</th>
                    <th class="text-left">Negras</th>
                    <th>Ver Final</th>
                    <th>Vista rápida (Nuevo)</th>
                    <th>Ver Partida</th>
                    <th>Evento</th>
                    <th>Fecha</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let partida of partidas">
                    <td>{{ partida.numero }}</td>
                    <td class="text-right">{{ partida.blancas }}</td>
                    <td class="text-center">{{ partida.resultado }}</td>
                    <td class="text-left">{{ partida.negras }}</td>
                    <td><a mat-raised-button (click)="openLg(content, partida.numero, 'final')">Ver Final</a></td>
                    <td class="text-center"><a mat-raised-button (click)="openLg(content, partida.numero, 'rapida')">Vista rápida</a></td>
                    <td><a mat-raised-button (click)="verPartida(partida.numero)">Ver Partida</a></td>
                    <td>{{partida.evento}}</td>
                    <td>{{partida.fecha}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
