<div *ngIf="cargando" class="row align-items-center" style="height: 100vh;">
    <div class="col text-center">
        <img src="assets/images/nuevas/loading1.gif">
    </div>
</div>
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" *ngIf="jpg === true">Final de la Partida {{numero}}</h4>
        <h4 class="modal-title" *ngIf="gif === true">Vista rápida de la Partida {{numero}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <img *ngIf="jpg === true" [src]="srcImgPop" alt="Final de la partida {{numero}}" class="img-fluid" style="width: 100%;">
        <img *ngIf="gif === true" [src]="srcGIF" alt="GIF de la partida {{numero}}" class="img-fluid" style="width: 100%;">
    </div>
</ng-template>

<div class="container-fluid">
    <h4 class="text-center display-4 my-5">Partidas</h4>

    <div class="alert alert-primary" role="alert" *ngIf="partidas.length < 39">
        Disculpe la demora en la carga de más partidas, estamos trabajando en ello...
    </div>

    <mat-divider></mat-divider>

    <div class="table-responsive my-5">
        <table class="table table-bordered table-hover" id="datatable" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
            <thead>
                <tr>
                    <th>ID</th>
                    <th class="text-right">Blancas</th>
                    <th class="text-center">Resultado</th>
                    <th class="text-left">Negras</th>
                    <th>Ver Final</th>
                    <th>Vista rápida (Nuevo)</th>
                    <th>Ver Partida</th>
                    <th>Evento</th>
                    <th>Fecha</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let partida of partidas | sortBy:'desc':'data.nro'; let i = index">
                    <td>{{ partida.data.nro }}</td>
                    <td class="text-right">{{ partida.data.blancas }}</td>
                    <td class="text-center">{{ partida.data.resultado }}</td>
                    <td class="text-left">{{ partida.data.negras }}</td>
                    <td><a mat-raised-button (click)="openLg(content, partida.data.nro, 'final')">Ver Final</a></td>
                    <td class="text-center"><a mat-raised-button (click)="openLg(content, partida.data.nro, 'rapida')">Vista rápida</a></td>
                    <td><a mat-raised-button (click)="verPartida(partida.data.nro)">Ver Partida</a></td>
                    <td>{{partida.data.evento}}</td>
                    <td>{{partida.data.fecha}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>