<div class="container-fluid animated fadeIn slow">
  <h4 class="text-center display-4 my-5">
    Ataques Directos Al Rey
  </h4>

  <mat-divider></mat-divider>

  <div class="container my-5">
    <div class="card">
      <div class="card-header text-center">
        <!-- no se necesita -->
      </div>
      <div class="card-body">
        <div class="embed-responsive embed-responsive-21by9 text-center">
          <iframe width="75%" height="500"
            [src]="studyId + '/' + capId + '?theme=canvas' | domseguro: 'https://lichess.org/study/embed/'"
            frameborder=0></iframe>
        </div>
      </div>
    </div>
  </div>
</div>