<app-loading *ngIf="showLoading"></app-loading>

<div class="animated fadeIn slow" *ngIf="estudios && estudios.length && !cargando">
  <h4 class="text-center display-4 my-5">Estudios</h4>
  <mat-divider></mat-divider>
  <!-- Cambiar a continuación, row-cols-md-[número de columnas deseado] y row-cols-lg-[número de columnas deseado] -->
  <!-- NOTA: Con 4 columnas se ve bien -->
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 row-cols-xl-4 m-0 my-5">
      <div class="col mb-4" *ngFor="let estudio of estudios; let i = index">
          <mat-card class="card h-100" matRipple (click)="irAlLink(['pages/estudio', estudio.id])" style="cursor: pointer;">
              <mat-card-header>
                  <mat-card-title>{{estudio.titulo}}</mat-card-title>
                  <mat-card-subtitle>{{estudio.propuesta}}</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image [src]="estudio.img" [alt]="estudio.titulo">
              <!-- <mat-card-actions class="text-center">
                  <button mat-raised-button (click)="irAlLink( ['estudio', estudio.id] )" class="button-accent"><b>VER MÁS</b></button>
              </mat-card-actions> -->
          </mat-card>
      </div>
  </div>
</div>
