<div class="animated fadeIn slow">
    <div class="text-center">
        <h1 class="display-4 mb-5">{{ estudios[0].titulo }}</h1>

        <p> {{ estudios[0].propuesta }} </p>

        <img [src]="estudios[0].img" [alt]="estudios[0].titulo" class="rounded mx-auto d-block">

        <button *ngIf="auth.loggedIn === false" class="btn btn-outline-primary mt-5" (click)="verSolucion()">Solución . . .</button>

        <!-- TODO: Escribir aquí la solución del problema de ajedrez planteado. -->
    </div>
</div>