<div class="animated fadeIn slow">
    <div class="text-center">
        <h1 class="display-4 my-5">{{ estudios[0].titulo }}</h1>

        <p> {{ estudios[0].propuesta }} </p>

        <img [src]="estudios[0].img" [alt]="estudios[0].titulo" class="rounded mx-auto d-block">

        <!-- <button *ngIf="auth.loggedIn === false" class="btn btn-outline-primary mt-5" (click)="verSolucion()">Ver Solución</button> -->
        <!-- <button class="btn btn-outline-primary mt-5" (click)="verSolucion()" *ngIf="show === false">Ver Solución</button> -->
        <!-- <button class="btn btn-outline-primary mt-5" (click)="verSolucion()" *ngIf="show === true">Ocultar Solución</button> -->
        <!-- <button mat-raised-button color="primary" class="my-5" (click)="verSolucion()" *ngIf="show === false">Ver Solución</button>
        <button mat-raised-button color="primary" class="my-5" (click)="verSolucion()" *ngIf="show === true">Ocultar Solución</button> -->

        <mat-slide-toggle color="primary" (click)="verSolucion()" class="my-5">
            <span>Mostrar solución</span>
        </mat-slide-toggle>

    </div>
    <!-- <div class="container mt-3" *ngIf="auth.loggedIn === true"> -->
    <div class="container mt-3" *ngIf="show === true">
        <div class="card">
            <h5 class="card-header">Solución</h5>
            <div class="card-body">
                <p class="card-text">1. g7+ Rg8 2. Ch7 Ta5+ 3. Rb4 Ta4+ 4. Rb3 Ta3+ 5. Rb2 Ta2+ 6. Rc1 Tc2+ 7. Rb1 Tc1+ 8. Rb2 Tc2+ 9. Rb3 Tc3+ 10. Rb4 Tc4+ 11. Rb5 Tc5+ 12. Rb6 (1 - 0).</p>
            </div>
        </div>

        <div class="card">
            <h5 class="card-header mt-3">Fuente y explicación del estudio:</h5>
            <div class="card-body">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" width="560" height="315" [src]="id | domseguro: 'https://www.youtube-nocookie.com/embed/'" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>