<div class="example-container">
    <mat-toolbar color="primary" class="example-toolbar">
        <button class="menu" aria-label="Menú" matTooltip="Menú" (click)="snav.toggle();toggleNav()" [ngClass]="{'opened1': opened}">
        <svg width="33" height="33" viewBox="0 0 100 100">
            <path class="line line1" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" />
            <path class="line line2" d="M 20,50 H 80" />
            <path class="line line3" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" />
        </svg>
    </button>
        <span class="spacer"></span>
        <a class="navbar-brand" routerLink="inicio" matTooltip="Inicio" class="aLogo" (click)="snav.close();opened = false">
            <img src="assets/images/perfil.jpg" width="30" height="30" class="d-inline-block align-top rounded-pill" alt="Logo de Taller de Ajedrez">&nbsp;&nbsp;<span class="brand ml-3">Taller de Ajedrez</span>
        </a>
    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container">
        <mat-sidenav #snav fixedTopGap="56">
            <mat-nav-list>
                <a mat-list-item [routerLink]="nav.route" (click)="snav.toggle();toggleNav()" *ngFor="let nav of fillerNav" class="aNav">
                    {{nav.name | uppercase}}&nbsp;&nbsp;
                    <span *ngIf="nav.route === 'partidas' && partidas && partidas.length > 0" [matBadge]="partidas.length" matBadgeColor="accent">&nbsp;</span>
                    <span *ngIf="nav.route === 'estudios' && estudios && estudios.length > 0" [matBadge]="estudios.length" matBadgeColor="accent">&nbsp;</span>
                    <span *ngIf="nav.route === 'fotos'" matBadge="99+" matBadgeColor="accent">&nbsp;</span>
                    <span *ngIf="nav.route === 'frases' && frases && frases.length > 0" [matBadge]="frases.length" matBadgeColor="accent">&nbsp;</span>
                </a>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <!-- animated fadeIn slow acá porque así, al cargar por primera vez, se aplica -->
            <div class="animated fadeIn slow">
                <!-- https://stackoverflow.com/questions/48048299/angular-5-scroll-to-top-on-every-route-click/48048822 -->
                <!-- Lo utilizo para hacer un scroll-top -->
                <router-outlet (activate)="onActivate($event)"></router-outlet>
                <app-scroll-top></app-scroll-top>
            </div>
            <app-footer></app-footer>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
