.color {
  background-color: rgba(146, 213, 218, .5);
}

.pointer {
  cursor: pointer;
}

h1 {
  font-weight: lighter;
}

.fa-angle-double-down {
  color: #3f51b5;
}

.movil {
  font-size: 25px;
}

.screen {
  font-size: 50px;
}

.banner {
  border: 0px!important;
}

.example-header-image {
  background-size: cover;
}

.overlay {
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: rgba(255,255,255,.3);
z-index: 1;
}
