<div class="card banner">
    <img src="assets/images/nuevas/banner.webp" class="card-img img-fluid mb-3" alt="Taller de Ajedrez" style="width: 100%;">
    <div class="card-img-overlay">
        <h1 class="card-title text-center" [ngClass]="{'m-5 screen': movil == false, 'm-0 movil': movil == true}">Taller de Ajedrez</h1>
    </div>
</div>

<div class="text-center">
    <i class="fas fa-angle-double-down fa-3x pointer" (click)="scrollDown()" matTooltip="Bajar un poco..." matTooltipPosition="left"></i>
</div>

<div class="card-columns">
    <mat-card class="card m-3" *ngFor="let tarjeta of tarjetas; let i = index">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image">
                <a href="https://twitter.com/{{tarjeta.twitter}}" rel="noopener" target="_blank">
                    <img src="../../../assets/images/nuevas/{{tarjeta.twitter}}.webp" alt="Foto del perfil del autor en Twitter" mat-card-avatar [matTooltip]="tarjeta.autor" style="cursor: pointer;">
                </a>
            </div>
            <mat-card-title>{{tarjeta.titulo}}</mat-card-title>
            <mat-card-subtitle>{{tarjeta.autor}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="tarjeta.img" [alt]="tarjeta.titulo">
        <mat-card-content>
            <p>{{tarjeta.extracto}}</p>
        </mat-card-content>
        <mat-card-actions class="text-center">
            <button mat-raised-button (click)="irAlLink( tarjeta.link )" class="button-accent"><b>VER MÁS</b></button>
        </mat-card-actions>
    </mat-card>
</div>
