<div class="animated fadeIn slow">
    <div class="container-fluid">
        <h1 class="display-4 text-center my-5">Partida Tringov vs. Fischer (0 - 1)</h1>
        <mat-divider></mat-divider>
        <div class="container my-5">
            <p class="text-left">Tringov vs. Fischer, Capablanca Memorial (1965): Esta partida tiene una curiosa historia, se jugó por teletipo ya que las autoridades de Estados Unidos no le permitieron a Fischer viajar a La Habana a jugar el torneo... </p>
            <p class="text-justify">
                era la época de la "guerra fría" entre las dos principales potencias mundiales, EEUU y la URSS. Este hecho hizo que las partidas duraran muchas horas, ya que las comunicaciones en esa época no eran tan eficientes; entre jugada y jugada había muchos minutos
                de espera, no sólo por la reflexión de los jugadores, sino además por el tiempo que insumía el proceso de enviarlas y recibir las respuestas. Durante la partida, la jugada 12...Ab4 de Fischer (ver diagrama siguiente) </p>
            <div class="d-flex justify-content-center">
                <img src="assets/images/Tringov_Fischer_Diagrama1.jpg" alt="Diagrama 1" class="img-fluid rounded m-3 animated fadeIn slow">
            </div>
            <p class="text-justify">causó sorpresa ya que se consideraba muy inferior. Posteriormente, al recibir por el teletipo la jugada 18... Cc6, Tringov directamente pidió confirmación de la misma pues no podía creer que el genial Bobby cayera en una linea que lo conducía
                a recibir mate en un par de jugadas luego de 19.Df7 y 20.Dg8++ (ver diagrama siguiente).</p>
            <div class="d-flex justify-content-center">
                <img src="assets/images/Tringov_Fischer_Diagrama2.jpg" alt="Diagrama 2" class="img-fluid rounded m-3">
            </div>
            <p class="text-left">La jugada 20...Cf6!! fue un baldazo de agua helada... (ver diagrama siguiente) </p>
            <div class="d-flex justify-content-center">
                <img src="assets/images/Tringov_Fischer_Diagrama3.jpg" alt="Diagrama 3" class="img-fluid  m-3">
            </div>
            <p class="text-left">Fischer así refutó la teoría del momento y obligó a abandonar a su rival en un par de jugadas.</p>
            <p class="text-center">
                <button type="button" mat-raised-button class="button-accent" routerLink="/partida/31"><b>Clic aquí para ver la partida completa</b></button>
            </p>
            <p class="text-right">Artículo publicado el <time datetime="2017-02-26" pubdate>26 de Febrero de 2017</time>, por Taller de Ajedrez.</p>
        </div>
    </div>
</div>
