<div class="animated fadeIn slow">
    <h1 class="display-4 text-center mb-5">Buscar Álbum</h1>

    <div class="d-flex justify-content-start m-3">
        <button class="btn btn-outline-primary" (click)="goBack()">
            <i class="fas fa-chevron-left fa-2x"></i> <span class="lead ml-2">Volver</span>
        </button>
    </div>

    <div class="row" *ngIf="albumes.length">
        <div class="col">
            <div class="alert alert-info" role="alert" *ngIf="albumes.length != 1">
                Se encontraron <u>{{ albumes.length }} álbumes</u> con el término: <b class="font-italic">{{ termino }}</b>
            </div>
            <div class="alert alert-info" role="alert" *ngIf="albumes.length == 1">
                Se encontró <u>1 álbum</u> con el término: <b class="font-italic">{{ termino }}</b>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="albumes.length == 0">
        <div class="col">
            <div class="alert alert-info" role="alert">
                No existen resultados con el término: <b class="font-italic">{{ termino }}</b>
            </div>
        </div>
    </div>


    <div class="table-responsive mt-5" *ngIf="albumes.length != 0">
        <table class="table table-bordered table-hover" style="zoom: 80%;">
            <thead>
                <tr class="text-center">
                    <th>ID</th>

                    <th>Álbum</th>

                    <th>Lugar</th>

                    <th>Fecha</th>

                    <th>Fotos</th>

                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let album of albumes" style="cursor: pointer;" (click)="verAlbum(album.album_id)">
                    <td>{{ album.album_id }}</td>

                    <td>{{ album.album }}</td>

                    <td>{{ album.lugar }}</td>

                    <td>{{ album.fecha }}</td>

                    <td>{{ album.cantidadFotos }}</td>

                </tr>
            </tbody>
        </table>
    </div>
</div>