<div class="animated fadeIn slow">
    <h1 class="display-4 text-center mb-5">Fotos del Álbum {{ id }}</h1>
    <!-- <ul>
                <li *ngFor="let foto of miArray; let i = index">Foto {{ i +1 }}</li>
            </ul> -->
    <div class="d-flex justify-content-center">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img [src]="primeraFoto" class="d-block w-100">
                </div>
                <div class="carousel-item" *ngFor="let foto of fotos">
                    <img [src]="foto" class="d-block w-100">
                </div>
            </div>
            <!-- Controles -->
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>