<div *ngIf="cargando" class="row align-items-center" style="height: 100vh;">
    <div class="col text-center">
        <i class="fas fa-spinner fa-spin fa-5x" style="color: #717579;"></i>
    </div>
</div>
<div class="container-fluid animated fadeIn slow">
    <h1 class="display-4 text-center my-5">Fotos del Álbum {{ id }}</h1>
    <p class="text-center">(Clic en la foto central para ver la foto más grande)</p>
    <div class="galeria">
        <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
    </div>
</div>