<ng-template #content let-modal>
  <div class="modal-header">
      <h4 class="modal-title" *ngIf="jpg === true">Final de la Partida {{numero}}</h4>
      <h4 class="modal-title" *ngIf="gif === true">Vista rápida de la Partida {{numero}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
  <span aria-hidden="true">&times;</span>
</button>
  </div>
  <div class="modal-body">
      <img *ngIf="jpg === true" [src]="srcImgPop" alt="Final de la partida {{numero}}" class="img-fluid" style="width: 100%;">
      <img *ngIf="gif === true" [src]="srcGIF" alt="GIF de la partida {{numero}}" class="img-fluid" style="width: 100%;">
  </div>
</ng-template>

<ng-template #content2 let-modal>
  <div class="modal-header">
      <h4 class="modal-title" *ngIf="verCompleta === true">Vista completa de la partida {{numero}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
  </button>
  </div>
  <div class="modal-body">
      <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" [src]="id | domseguro:'https://lichess.org/embed/'" width="600" height="397" frameborder="0"></iframe>
      </div>
  </div>
</ng-template>

<div class="container-fluid animated fadeIn slow">
  <h4 class="text-center display-4 my-5">Buscar Partidas</h4>

  <div class="d-flex justify-content-start m-3">
      <a mat-raised-button (click)="goBack()">
          <i class="fas fa-chevron-left"></i> <span class="ml-2">Volver</span>
      </a>
  </div>
  <div class="row" *ngIf="partidas.length != 0">
      <div class="col">
          <div class="alert alert-primary text-center" role="alert" *ngIf="partidas.length != 1">
              Se encontraron <u>{{ partidas.length }} partidas</u> con el término: <b class="font-italic">{{ termino }}</b>
          </div>
          <div class="alert alert-primary text-center" role="alert" *ngIf="partidas.length == 1">
              Se encontró <u>1 partida</u> con el término: <b class="font-italic">{{ termino }}</b>
          </div>
      </div>
  </div>
  <div class="row" *ngIf="partidas.length == 0">
      <div class="col">
          <div class="alert alert-warning text-center" role="alert">
              No existen resultados con el término: <b class="font-italic">{{ termino }}</b>
          </div>
      </div>
  </div>
  <div class="table-responsive" *ngIf="partidas.length != 0">
      <table class="table table-bordered table-striped table-sm">
          <thead>
              <tr class="text-center table-primary">
                  <th>ID</th>
                  <th>Blancas</th>
                  <th>Resultado</th>
                  <th>Negras</th>
                  <th>Final</th>
                  <th>Vista rápida</th>
                  <th>Partida</th>
                  <th>Evento</th>
                  <th>Fecha</th>
              </tr>
          </thead>
          <tbody>
              <ng-template #popContent>
                  <img [src]="srcImgPop" alt="numero" class="img-thumbnail">
              </ng-template>
              <tr *ngFor="let partida of partidas | orderby:'numero':true">
                  <td class="text-center table-primary">{{ partida.numero }}</td>
                  <td class="text-right">{{ partida.blancas }}</td>
                  <td class="text-center">{{ partida.resultado }}</td>
                  <td class="text-left">{{ partida.negras }}</td>
                  <td class="text-center"><a mat-raised-button (click)="openLg(content, partida.numero, 'final')" matTooltip="Ver Final de la Partida"><i class="fas fa-fast-forward"></i></a></td>
                  <td class="text-center"><a mat-raised-button (click)="openLg(content, partida.numero, 'rapida')" matTooltip="Vista Rápida de la Partida"><i class="fas fa-bolt"></i></a></td>
                  <td class="text-center"><a mat-raised-button (click)="verPartida(partida.numero)" matTooltip="Vista Completa de la Partida"><i class="fas fa-eye"></i></a></td>
                  <!-- <td class="text-center"><a mat-raised-button (click)="openLg2(content2, partida.id, true)" matTooltip="Vista Completa de la Partida"><i class="fas fa-eye"></i></a></td> -->
                  <td class="text-left">{{partida.evento}}</td>
                  <td class="text-center">{{partida.fecha}}</td>
              </tr>
          </tbody>
      </table>
  </div>
</div>
