<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Foto {{ nroFoto +1 }} de {{ cantFotos }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="cerrarModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row mb-5">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
        <img [src]="laFoto" alt="Foto {{ nroFoto +1 }}" class="img-fluid">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info" (click)="anterior(nroFoto)" [disabled]="nroFoto === 0">Anterior</button>
    <button type="button" class="btn btn-info" (click)="siguiente(nroFoto, cantFotos)" [disabled]="nroFoto+1 === cantFotos">Siguiente</button>
  </div>
</ng-template>

<!-- fin del template -->

<div *ngIf="cargando" class="row align-items-center" style="height: 100vh;">
    <div class="col text-center">
        <i class="fas fa-spinner fa-spin fa-5x" style="color: #717579;"></i>
    </div>
</div>
<div class="container-fluid animated fadeIn slow">
    <h1 class="text-center my-5">Fotos del Álbum: <i>{{ nombreAlbum }}</i></h1>
    <mat-divider></mat-divider>

    <div class="row">
      <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2" *ngFor="let foto of fotos; let i = index">
          <img [src]="foto" alt="Foto {i + 1}" class="img-thumbnail m-3" (click)="openModalXL(content, foto, i, fotos.length)" matTooltip="Clic para ampliar">
      </div>
    </div>

    <!-- <div class="row">
      <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2" *ngFor="let foto of fotos; let i = index">
          <img [src]="foto" alt="Foto {i + 1}" class="img-thumbnail m-3" (click)="verFoto(id, i + 1)">
      </div>
    </div> -->

    <!-- <div class="row" *ngIf="celular === true">
        <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2" *ngFor="let foto of fotos; let i = index">
            <img [src]="foto" alt="Foto {i + 1}" class="img-thumbnail m-3" (click)="verFoto(id, i + 1)">
        </div>
    </div> -->

    <!-- <div class="my-5" *ngIf="celular === false">
        <p class="text-center">(Clic en la foto central para ver la foto más grande)</p>
        <div class="galeria">
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
        </div>
    </div> -->
</div>
