<!-- <mat-toolbar color="primary" class="sticky-top"> -->
<mat-toolbar color="primary">
    <a class="navbar-brand" [routerLink]="['inicio']" matTooltip="Inicio">
        <img src="assets/images/logo2-50x65.jpg" width="30" height="30" class="d-inline-block align-top" alt="Logo de Taller de Ajedrez"><span class="brand ml-3">Taller de Ajedrez</span>
    </a>
    <span class="spacer"></span>
    <button class="menu" mat-icon-button aria-label="Menú" matTooltip="Menú" (click)="openNav()">
      <mat-icon>menu</mat-icon>
    </button>
    <div id="mySidenav" class="sidenav" [ngClass]="{'opened': open === true, 'closed': open === false}">
        <button class="closebtn" mat-icon-button aria-label="Cerrar Menú" matTooltip="Cerrar Menú" (click)="closeNav()">
                <mat-icon>close</mat-icon>
              </button>
        <a mat-flat-button color="primary" routerLink="inicio" (click)="closeNav()" class="text-left">Inicio</a>
        <mat-divider></mat-divider>
        <a mat-flat-button color="primary" routerLink="partidas" (click)="closeNav()" class="text-left">Partidas&nbsp;<span matBadge="63" matBadgeColor="accent">&nbsp;</span></a>
        <mat-divider></mat-divider>
        <a mat-flat-button color="primary" routerLink="torneos" (click)="closeNav()" class="text-left">Torneos</a>
        <mat-divider></mat-divider>
        <a mat-flat-button color="primary" routerLink="estudios" (click)="closeNav()" class="text-left">Estudios&nbsp;<span matBadge="5" matBadgeColor="accent">&nbsp;</span></a>
        <mat-divider></mat-divider>
        <a mat-flat-button color="primary" routerLink="fotos" (click)="closeNav()" class="text-left">Fotos&nbsp;<span matBadge="1k+" matBadgeColor="accent">&nbsp;</span></a>
        <mat-divider></mat-divider>
        <a mat-flat-button color="primary" routerLink="frases" (click)="closeNav()" class="text-left">Frases&nbsp;<span matBadge="11" matBadgeColor="accent">&nbsp;</span></a>
        <mat-divider></mat-divider>
        <a mat-flat-button color="primary" routerLink="dispositivos" (click)="closeNav()" class="text-left">Dispositivos</a>
        <mat-divider *ngIf="auth.loggedIn"></mat-divider>
        <a mat-flat-button color="primary" (click)="auth.logout()" *ngIf="auth.loggedIn" class="text-left">Log Out</a>
    </div>
</mat-toolbar>