/* Faltaría agregarla al hacer scroll */

.navbar-transparente {
    background-color: rgba(63, 81, 181, .7);
}

span.brand {
    color: white;
    font-family: 'Quicksand', sans-serif!important;
}

.menu {
    padding: 0 14px;
}

.spacer {
    flex: 1 1 auto;
}