<div class="container-fluid animated fadeIn slow">
  <h4 class="text-center display-4 my-5">
      Partida {{ id +1 }}
  </h4>

  <mat-divider></mat-divider>

  <p class="text-center" *ngIf="celular === true">(Voltee su dispositivo para visualizar mejor la partida)</p>

  <div class="container my-5">
      <div class="card">
          <div class="card-header text-center">
              {{ blancas }} vs. {{ negras }} ({{ resultado }})
          </div>
          <div class="card-body">
                <div class="ratio">
                  <iframe
                    [src]="partidaId + '?theme=canvas' | domseguro:'https://lichess.org/embed/'"
                    frameborder="0"
                  ></iframe>
              </div>
          </div>
      </div>
  </div>
</div>
