<!-- ... -->
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" *ngIf="webp === true">Final de la Partida {{numero}}</h4>
        <h4 class="modal-title" *ngIf="gif === true">Vista rápida de la Partida {{numero}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
    </div>
    <div class="modal-body">
        <img *ngIf="webp === true" [src]="srcImgPop" alt="Final de la partida {{numero}}" class="img-fluid" style="width: 100%;">
        <img *ngIf="gif === true" [src]="srcGIF" alt="GIF de la partida {{numero}}" class="img-fluid" style="width: 100%;">
    </div>
    <!-- <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div> -->
</ng-template>
<!-- ... -->
<div class="container-fluid animated fadeIn slow">
    <h4 class="text-center display-4 my-5">Buscar Partidas</h4>

    <div class="d-flex justify-content-start m-3">
        <button class="btn btn-outline-primary" (click)="goBack()">
            <i class="fas fa-chevron-left fa-2x"></i> <span class="lead ml-2">Volver</span>
        </button>
    </div>

    <div class="row" *ngIf="partidas.length != 0">
        <div class="col">
            <div class="alert alert-info" role="alert" *ngIf="partidas.length != 1">
                Se encontraron <u>{{ partidas.length }} partidas</u> con el término: <b class="font-italic">{{ termino }}</b>
            </div>
            <div class="alert alert-info" role="alert" *ngIf="partidas.length == 1">
                Se encontró <u>1 partida</u> con el término: <b class="font-italic">{{ termino }}</b>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="partidas.length == 0">
        <div class="col">
            <div class="alert alert-info" role="alert">
                No existen resultados con el término: <b class="font-italic">{{ termino }}</b>
            </div>
        </div>
    </div>

    <div class="table-responsive" *ngIf="partidas.length != 0">
        <table class="table table-bordered table-hover" style="zoom: 80%;">
            <thead>
                <tr>
                    <th class="text-right">Blancas</th>

                    <th class="text-center">Resultado</th>

                    <th class="text-left">Negras</th>

                    <th>Ver Final</th>

                    <th>Vista rápida (Nuevo)</th>

                    <th>Ver Partida</th>

                    <th>Evento</th>

                    <th>Fecha</th>

                    <th>ID</th>
                </tr>
            </thead>

            <tbody>
                <ng-template #popContent>
                    <img [src]="srcImgPop" alt="numero" class="img-thumbnail">
                </ng-template>
                <tr *ngFor="let partida of partidas">
                    <td class="text-right">{{ partida.blancas }}</td>

                    <td class="text-center">{{ partida.resultado }}</td>

                    <td class="text-left">{{ partida.negras }}</td>

                    <!-- <td><button type="button" class="btn btn-outline-info" (click)="setSrcImgPop(partida.numero)" [ngbPopover]="popContent">Ver Final</button></td> -->
                    <td><button type="button" class="btn btn-outline-info" (click)="openLg(content, partida.numero, 'final')">Ver Final</button></td>

                    <td><button type="button" class="btn btn-outline-info" (click)="openLg(content, partida.numero, 'rapida')">Vista rápida</button></td>

                    <td><button type="button" class="btn btn-outline-primary" (click)="verPartida(partida.numero)">Ver Partida</button></td>

                    <td>{{partida.evento}}</td>

                    <td>{{partida.fecha}}</td>

                    <td>{{ partida.numero }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
