<div class="container-fluid animated fadeIn slow">
  <h4 class="text-center display-4 my-5">
      Ajedrez en vivo
  </h4>

  <mat-divider></mat-divider>

  <div class="container my-5">
      <div class="card">
          <div class="card-header text-center">
            (desde <a href="https://lichess.org">lichess.org</a>)
          </div>
          <div class="card-body">
              <div class="embed-responsive embed-responsive-21by9 text-center">
                <iframe
                  src="https://lichess.org/tv/frame?theme=canvas&bg=dark"
                  style="width: 400px; height: 444px;"
                  allowtransparency="true"
                  frameborder="0"
                ></iframe>
              </div>
          </div>
      </div>
  </div>
</div>
