<div class="animated fadeIn slow">
    <h1 class="display-4 text-center mb-5">Fotos</h1>
    <div class="table-responsive mt-5">
        <table class="table table-bordered table-hover" style="zoom: 80%;">
            <thead>
                <tr class="text-center">
                    <th>ID</th>

                    <th>Torneo</th>

                    <th>Lugar</th>

                    <th>Fecha</th>

                    <th>Fotos</th>

                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let album of albumes" style="cursor: pointer;" (click)="verAlbum(album.album_id)">
                    <td>{{ album.album_id }}</td>

                    <td>{{ album.album }}</td>

                    <td>{{ album.lugar }}</td>

                    <td>{{album.fecha}}</td>

                    <td>{{album.cantidadFotos}}</td>

                </tr>
            </tbody>
        </table>
    </div>
</div>