<div class="animated fadeIn slow">
    <h1 class="display-4 text-center mb-5">Fotos</h1>

    <div class="input-group mb-3">
        <input (keyup.enter)="buscarAlbum(buscarTexto.value)" type="text" class="form-control" placeholder="Buscar Álbum . . ." aria-label="Buscar Álbum..." aria-describedby="button-addon2" #buscarTexto>
        <div class="input-group-append">
            <button (click)="buscarAlbum(buscarTexto.value)" class="btn btn-outline-primary" type="button" id="button-addon2">Buscar</button>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-hover" style="zoom: 80%;">
            <thead>
                <tr class="text-center">
                    <th>ID</th>

                    <th>Álbum</th>

                    <th>Lugar</th>

                    <th>Fecha</th>

                    <th>Fotos</th>

                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let album of albumes" style="cursor: pointer;" (click)="verAlbum(album.album_id)">
                    <td>{{ album.album_id }}</td>

                    <td>{{ album.album }}</td>

                    <td>{{ album.lugar }}</td>

                    <td>{{ album.fecha }}</td>

                    <td>{{ album.cantidadFotos }}</td>

                </tr>
            </tbody>
        </table>
    </div>
</div>