<div class="container-fluid animated fadeIn slow">
  <h4 class="text-center display-4 my-5">
      Ajedrez en vivo
  </h4>

  <mat-divider></mat-divider>

  <div class="container my-5">
      <div class="card">
          <div class="card-header text-center">
            (desde <a href="https://lichess.org" target="_blank">lichess.org</a>)
          </div>
          <div class="card-body d-flex justify-content-center">
              <div class="ratio ratio-21x9">
                <iframe
                  src="https://lichess.org/tv/frame?theme=canvas"
                  allowtransparency="true"
                  frameborder="0"
                ></iframe>
              </div>
          </div>
      </div>
  </div>
</div>
