<div *ngIf="cargando" class="row align-items-center" style="height: 100vh;">
    <div class="col text-center">
        <p><img src="assets/images/loading1.gif"></p>
    </div>
</div>

<div class="animated fadeIn slow">
    <div class="container-fluid">
        <h1 class="display-4 text-center my-5">Frases</h1>
        <mat-divider></mat-divider>
        <div class="card-columns my-5">
            <div class="card shadow" *ngFor="let frase of frases">
                <a [name]="frase.id"></a>
                <div class="card-body">
                    <blockquote class="blockquote">
                        <p class="mb-0"><i>"{{ frase.frase }}"</i></p>
                        <footer class="blockquote-footer text-right">{{ frase.autor }}</footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>