<div class="animated fadeIn slow">
    <div class="container-fluid">
        <h1 class="display-4 text-center my-5">Dispositivos</h1>
        <mat-divider></mat-divider>
        <div class="container my-5">
            <p>Usando un lector de códigos QR en el teléfono celular o en una tablet, puedes apuntar con la cámara del dispositivo la siguiente imagen, para cargar este sitio en el navegador de su dispositivo.</p>
            <div class="d-flex justify-content-center">
                <div class="card">
                    <img src="assets/images/exported_qrcode_image.jpg" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>