<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4 text-center">
            Taller de Ajedrez en redes sociales
        </h1>

        <!-- <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p> -->

        <div class="d-flex justify-content-center">
            <a href="https://www.facebook.com/TallerDeAjedrez" rel="noopener" target="_blank">
                <i class="fab fa-facebook-f fa-3x m-3" style="color: blue;"></i>
            </a>

            <a href="https://twitter.com/TallerDeAjedre2" rel="noopener" target="_blank">
                <i class="fab fa-twitter fa-3x m-3" style="color: lightblue;"></i>
            </a>
        </div>
    </div>
</div>