<div class="myFooter">
  <div class="jumbotron jumbotron-fluid">
      <div class="container">
          <h1 class="display-4 text-center my-5"><small>Taller de Ajedrez en redes sociales</small></h1>
          <div class="d-flex justify-content-center">
              <a href="https://www.facebook.com/TallerDeAjedrez" rel="noopener" target="_blank" mat-raised-button aria-label="Facebook" matTooltip="Facebook" class="mx-1">
                  <i class="fab fa-facebook-f fa-3x m-3" style="color: darkblue;"></i>
              </a>
              <a href="https://twitter.com/TallerDeAjedre2" rel="noopener" target="_blank" mat-raised-button aria-label="Twitter" matTooltip="Twitter" class="mx-1">
                  <i class="fab fa-twitter fa-3x m-3" style="color: lightblue;"></i>
              </a>
          </div>
      </div>
  </div>
</div>
